*{
    --turkuaz: #039CBD;
    --darkTurkuaz: #015D71;
    --bgGrey: #F3F3F3;
    --smTitleGrey: #707070;
    --titleGrey: #384152;
}

.safe-area{
    max-width:1200px;
    margin: 0 auto;
}

.secret-title{
    display: none;
}

/* TODO: İMAGE lara genelde bunu verme svgler patlıyor o yüzden yoruma alıyorum */
img{
    /* width: 100%; */
    /* height: 100%;  */
    object-fit: cover;
}

.sub-title__cnt{
    margin: 0 0 36px 0;
    padding: 0 0 0 16px;
    border-left: 6px solid #039CBD;
    padding: 0 0 0 16px;
}

.sub-title__cnt h2{
    margin: 4px 0 0 0;
}

.sub-title__title{
    font-weight: 600;
}

.sub-title h2{
    font-size: 48px;
    line-height: 60px;
    color: var(--titleGrey);
}

.sub-title__title p{
    font-size: 24px;
    line-height: 30px;
    padding: 8px 0 0;
    color: var(--smTitleGrey);
}