@media only screen   and (max-width:768px)  {
  .header{
    padding: 16px 11px;
    .menu-list{
      .menu-item{
        display: none;
      }
      .yellow-btn{
        margin: 0;
        padding: 6px 10px;
        span{
          font-size: 12px;
        }
        img{
          margin: 0 6px 0 0;
        }
      }
    }
    .logo-item{
      width: 179px;
      height: 32px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .mobile-menu{
      display: block;
    }
  }
  .announcement{
    .yellow-btn{
      width: 100%;
    }
  }
  .licenced{
    .text-list__container{
      flex-direction: column;
      align-items: flex-start;
      .text-list__block{
        width: 100%;
        margin: 12px 0 0;
        gap: 12px;
        &:first-child{
          margin: 0;
        }
      }
    }
  }
  .content__block{
    padding: 20px;
  }
  .contact-form{
    .content__block{
      padding: 24px 20px;
    }
  }
  .contact-form{
    h2, p{
      text-align: start;
    }
    h2{
      margin: 0 0 16px;
    }
    p{
      margin: 0 0 40px;
    }
  }
}

@media only screen   and (max-width:700px){
  .announcement{
    .img__block{
      display: none;
    }
  }
}

@media only screen   and (max-width:640px){
  .footer-bottom-container{
    flex-direction: column-reverse;
    align-items: flex-start;
    .copy-right-block{
      flex-direction: column;
      align-items: flex-start;
      .copy-right-item{
        margin: 20px 0 0;
        &:first-child{
          margin: 0;
        }
      }
    }
    .social-menu{
      margin: 20px 0 0;
    }
  }
  .footer{
    .menu-list{
      flex-direction: column;
      align-items: flex-start;
      .menu-item{
        margin:16px 0 0 0;
        &:first-child{
          margin: 0;
        }
      }
    }
  }
  .img-card__block{
    .img-card__item{
      min-width: 272px; 
      height: 300px;
    }
  }
  .img-card__item{
    h3{
      font-size: 24px;
      line-height: 32px; 
      margin: 0 0 2px 0;
      letter-spacing: -0.48px;
    }
    p{
      font-size: 14px;
      line-height: 20px; 
    }
  }
  .img-card__text{
    padding: 22px;
  }
  .safe-area{
    padding: 0 11px;
  }

}