.yellow-btn{
  padding: 10px 16px;
  background: #FFC100;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span{
    font-size: 14px;
    color: #482200;
    margin: 0 0 0 8px;

  }
}