*{
    font-family: "Roboto", sans-serif;
}

.safe-area{
    max-width: 1180px;
    margin: 0 auto;
}

.page-common h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
}