.footer{
  background: $backGround;
  padding: 48px 0;
}
.footer-top-container{
  border-bottom: 1px solid #9CA3AF;
  padding: 0 0 32px;
  margin: 0 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}