.footer{
  background: $backGround;
  padding: 48px 0;
}
.footer-top-container{
  border-bottom: 1px solid #9CA3AF;
  padding: 0 0 32px;
  margin: 0 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .menu-list{
    .yellow-btn{
      display: none;
    }
  }
}
.footer-bottom-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .social-menu{
    display: flex;
    align-items: center;
    .social-item{
      margin: 0 0 0 16px;
      &:first-child{
        margin: 0;
      }
    }
  }
  .copy-right-block{
    display: flex;
    align-items: center;

    .copy-right-item{
      margin: 0 0 0 32px;
      a{
        font-size: 14px;
        font-weight: 400;
        color:#EEF2FF;
        line-height: 20px;
      }
    span{
      font-size: 14px;
      font-weight: 400;
      color:#EEF2FF;
      line-height: 20px;


    }
      &:first-child{
        margin: 0;
      }
    }
  }
}