.header{
  background: #1F1C4A;
   padding: 20px 0;

}
.header--wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.menu-list{
  display: flex;
  align-items: center;
  .menu-item{
    margin: 0 0 0 48px;
    &:first-child{
      margin: 0;
    }
    span{
      color: white;
      font-size: 16px;
    }
    &:hover{
      span{
        color: #FFF985;
      }
    }
  }
  .yellow-btn{
    margin: 0 0 0 48px;
  }
}