.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.header-wrapper a{
    height: 64px;
    
}
.header-menu-root ul {
    display: flex;
    align-items: center;
    padding: 9px 0;
    margin: 0;
}
.header-menu-root ul li {
    margin:  0 0 0 20px;
}
.header-menu-root ul li:first-child{
    margin: 0;
}
.header-menu-root ul a{
    padding: 8px 24px;
    border-radius: 32px;
    border: 1px solid #ffffff;
    color: #000000;
}
.header-menu-root ul a.active{
    background: #015D71;
    color: #ffffff;
}
.header-menu-root ul a:hover{
    background: #ffffff;
    color: #015D71;
    border: 1px solid #015D71;
}

