.banner{
    background:  #015D71;
    width: 100%;
    padding: 32px 0;

}
.bnr__content h1{
    text-align: center;
    margin: 32px 0 0;

}

.bnr__container{
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.banner__img:nth-child(1){
    z-index: 5;
    
    
}
.banner__img:nth-child(2){
    margin: 0 0 0 -42px;
    z-index: 4;  
}
.banner__img:nth-child(2) .bnr__imgText{
    background:#EEEFF150 ;
     
}
.banner__img:nth-child(3){
    margin: 0 0 0 -42px;
    z-index: 3;
}
.banner__img:nth-child(3) .bnr__imgText{
    background:#D5B59576 ;
     
}
.banner__img{
    position: relative;
    width: 450px;
    max-width: 450px;
}
.bnr__imgText{
    position: absolute;
    top: 0;
    max-width: 364px;
    width: 83%;
    max-height: 360px;
    border-radius: 50%;
    background: #CD858153;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px;
    height: 360px;
}
.bnr__imgText h2{
    font-size: 40px;
    color: #ffffff;
    max-width: 80%;
    text-align: center;
}



  
