.h-referances{
background: #F3F3F3;
}
.h-referances__cnt{
    padding: 64px 0;
}
.referances{
    display: flex;
    flex-wrap: wrap;
    gap:32px;
}
.referances__cnt{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 8px;
}