.contactUs{
  margin: 0 auto 48px;

}
.contact__cnt{
  margin: 40px 0 0;
  .title-item{
    margin: 0 0 24px;
    h1{
      font-size: 40px;
      font-weight: 500;
      line-height: 48px;
      color: #111827;
    }
  }
}