.home__cnt{
    margin: 80px auto 0;
}

.announcement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        margin: 32px 0 0;
    }
    .yellow-btn{
        padding: 15px 20px;
        margin: 32px 0 0;
    }
}