.login{
  background: #1F1C4A;
  width: 100%;
  height: calc(100dvh - 308px);

}
.login-wrapper{
  height: 100%;
}


.login-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  border-radius:16px  ;
  background: #FFFFFF;
  overflow: hidden;
  picture{
    display: flex;
    height: 100%;
    width: 51%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.login-form{
  height: 100%;
  padding: 98px 100px;
  width: 49%;
  .title__cnt{
    .title-item{
      h2{
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
      }
      &.small{
        margin: 16px 0 0;
        h3{
          font-size: 16px;
          font-weight: 400;
          color:#6B7280;
          line-height: 24px;
        }
      }
    }
  }
  .contact-form__block{
    flex-direction: column;
    margin: 40px 0 0;
    gap: 24px;
  }
  .contact-form__btn{
    width: 100%;
    margin: 40px 0 0;
    .btn{
      width: 100%;
    }
  }
  .forgot-btn{
    margin: 24px 0 0;
    a{
      color: #482200;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
    }
  }
  .yellow-btn{
    span{
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
    }
  }
  .input-block{
    position: relative;
    svg{
      position: absolute;
      right: 12px;
      bottom:14px;
      cursor: pointer;
    }
  }


}